#wp-waiting { position: relative; width: 320px; height: 3px; display: none; margin-top: 4px; }

.wp-waiting{
background-color:#ffffff;
position:absolute;
top:0;
left:0;
width:3px;
height:3px;
-moz-border-radius:13px;
-moz-animation-name:bounce_wp-waiting;
-moz-animation-duration:3.0s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:3.0s;
-webkit-animation-name:bounce_wp-waiting;
-webkit-animation-duration:3.0s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:13px;
-ms-animation-name:bounce_wp-waiting;
-ms-animation-duration:3.0s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:13px;
-o-animation-name:bounce_wp-waiting;
-o-animation-duration:3.0s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:3px;
animation-name:bounce_wp-waiting;
animation-duration:3.0s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#wp-waiting_1{
-moz-animation-delay:0s;
}

#wp-waiting_1{
-webkit-animation-delay:0s;
}

#wp-waiting_1{
-ms-animation-delay:0s;
}

#wp-waiting_1{
-o-animation-delay:0s;
}

#wp-waiting_1{
animation-delay:0s;
}

#wp-waiting_2{
-moz-animation-delay:0.15s;
-webkit-animation-delay:0.15s;
-ms-animation-delay:0.15s;
-o-animation-delay:0.15s;
animation-delay:0.15s;
}

#wp-waiting_3{
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#wp-waiting_4{
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

@-moz-keyframes bounce_wp-waiting{
0%{
left:10px;
background-color:#ffffff;
}

50%{
left:175px;
background-color:#ffffff;
}

100%{
left:350px;
background-color:#ffffff;
}

}

@-webkit-keyframes bounce_wp-waiting{
0%{
left:10px;
background-color:#ffffff;
}

50%{
left:175px;
background-color:#ffffff;
}

100%{
left:350px;
background-color:#ffffff;
}

}

@-ms-keyframes bounce_wp-waiting{
0%{
left:10px;
background-color:#ffffff;
}

50%{
left:175px;
background-color:#ffffff;
}

100%{
left:350px;
background-color:#ffffff;
}

}

@-o-keyframes bounce_wp-waiting{
0%{
left:10px;
background-color:#ffffff;
}

50%{
left:175px;
background-color:#ffffff;
}

100%{
left:350px;
background-color:#ffffff;
}

}

@keyframes bounce_wp-waiting{
0%{
left:10px;
background-color:#ffffff;
}

50%{
left:175px;
background-color:#ffffff;
}

100%{
left:350px;
background-color:#ffffff;
}
}
/*@keyframes bounce_wp-waiting{
0%{
left:0px;
background-color:#ffffff;
}

50%{
left:295px;
background-color:#000000;
}

100%{
left:0px;
background-color:#ffffff;
}*/

